<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users.mapper.UsersMapper">
	<select id="exists" resultType="users.dto.UsersDto" parameterType="String">
		select *
		from users
		
		where user_id = #{user_id}
	</select>

	<select id="selectUser" resultType="users.dto.UsersDto" parameterType="hashmap">
		select uuid, user_id, password, email, name, phone, social, role, status, regdate
		from users
		where user_id = #{user_id} and password = #{password}
	</select>
	
	<select id="selectUserByEmail" resultType="users.dto.UsersDto" parameterType="String">
		select *
		from users
		where email = #{email}
	</select>
	
	<select id="selectUserByEmailAndUser_id" resultType="users.dto.UsersDto" parameterType="hashmap">
		select *
		from users
		where email = #{email} and user_id = #{user_id}
	</select>
	
	<insert id="insert" parameterType="users.dto.UsersDto">
		insert
		into users
		values(users_seq.nextval, #{user_id}, #{password}, #{name}, #{email}, #{phone}, #{social}, #{role}, #{status}, sysdate)
	</insert>
	
	<update id="updatePassword" parameterType="users.dto.UsersDto">
		update users
		set password = #{password}
		where uuid = #{uuid}
	</update>
	
	<update id="updateUser" parameterType="hashmap">
		update users
		set password = #{password}, name = #{name}, phone = #{phone}
		where uuid = #{uuid}
	</update>
	
	<update id="deleteUser">
		update users
		set status = 'N'
		where uuid = #{uuid}
	</update>

   <select id="getUUID" parameterType="String" resultType="Integer">
        select uuid from users where user_id = #{user_id}
    </select>

</mapper>