<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resort.mapper.FacilityMapper">
    <select id="getFacilityByFacility" parameterType="int" resultType="resort.dto.FacilitiesDTO">
        SELECT type_id, facility_name FROM facilities WHERE facility_id = #{facility_id}
    </select>
    


</mapper>