<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resort.mapper.ResortReservationMapper">
	<select id="getCount" resultType="int" parameterType="hashmap">
		select count(*)
		from resort_reservation
		where uuid = #{uuid}
		<if test="year != null and year != ''">
			and to_char(created_at, 'yyyy') = #{year}
		</if>
	</select>

	<select id="selectByUuid" resultType="resort.dto.ResortReservationListDto" parameterType="hashmap">
		select *
		from (
			select rownum rn, rrl.*
			from (
				select rs.resort_reserv_id, rs.uuid, rs.checkin_date, rs.checkout_date, rs.quantity, rs.total_price, rs.status, rs.created_at,
					rr.room_id, rr.room_name, rr.room_type, (select name from resort where resort_id = rr.resort_id) name
				from resort_reservation rs join resort_rooms rr on rs.room_id = rr.room_id
				where uuid = #{uuid}
				<if test="year != null and year != ''">
					and to_char(rs.created_at, 'yyyy') = #{year}
				</if>
				order by rs.created_at desc
			) rrl
		)
		where rn between #{startRow} and #{endRow}
	</select>
</mapper>