<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resort.mapper.RoomAdminMapper">

	<!-- 객실 삽입(추가) -->
	<insert id="roomInsert" parameterType="resort.dto.RoomDTO">
		insert into ROOM(room_id,resort_id,room_name,room_type,room_quantity,max_guests,price_per_night,
		rmain_img,rsub_img1,rsub_img2,rsub_img3,description,created_at)
		values(room_seq.nextval,#{resort_id},#{room_name},#{room_type},#{room_quantity},#{max_guests},#{price_per_night},
		#{rmain_img},
		#{rsub_img1, jdbcType=VARCHAR},
		#{rsub_img2, jdbcType=VARCHAR},
		#{rsub_img3, jdbcType=VARCHAR},
		#{description},sysdate)
	</insert>
	
	<!-- 해당 리조트에 있는 객실 모두 조회(여러개 가져오기) -->
	<select id="getRoomInfo" parameterType="int" resultType="resort.dto.RoomDTO">
		select room_id,room_name,room_type,room_quantity,max_guests,price_per_night,
		rmain_img,rsub_img1,rsub_img2,rsub_img3,description,created_at
		from ROOM where resort_id=#{resort_id}
	</select>
	
	
	<!-- 리조트기준 객실 상세정보 : 페이징처리 -->
	<select id="getRoomList" parameterType="map" resultType="resort.dto.RoomDTO">
	  select * from(
		select t.*, ROWNUM rnum from(
			select room_id,room_name,room_type,room_quantity,max_guests,price_per_night,
			rmain_img,rsub_img1,rsub_img2,rsub_img3,description,created_at
			from ROOM where resort_id=#{resortId}
			order by room_id desc
		)t
		where <![CDATA[ ROWNUM <= ]]> #{endRow}
	  )
	  WHERE <![CDATA[ rnum >= ]]> #{startRow} 
	</select>
	
	<!-- 하나의 리조트에 전체 객실 갯수 -->
	<select id="roomCount" parameterType="int" resultType="int">
  	    select COUNT(*) from ROOM where resort_id = #{resortId}
	</select>
	
	
	<!-- 객실 조회(한행 가져오기) -->
	<select id="getRoomId" parameterType="int" resultType="resort.dto.RoomDTO">
		select room_id,resort_id,room_name,room_type,room_quantity,max_guests,
		price_per_night,rmain_img,rsub_img1,rsub_img2,rsub_img3,description,created_at
	    from ROOM where room_id=#{room_id}
	</select>
	
	<!-- 객실 삭제 -->
	<delete id="rmDelete" parameterType="int">
		delete from ROOM where room_id=#{room_id}
	</delete>
	
	<!-- 객실 수정 -->
	<update id="rmUpdate" parameterType="resort.dto.RoomDTO">
		update ROOM set room_name=#{room_name},room_quantity=#{room_quantity},max_guests=#{max_guests},
		price_per_night=#{price_per_night},
		rmain_img=#{rmain_img, jdbcType=VARCHAR},
		rsub_img1=#{rsub_img1, jdbcType=VARCHAR},
		rsub_img2=#{rsub_img2, jdbcType=VARCHAR},
		rsub_img3=#{rsub_img3, jdbcType=VARCHAR},
		description=#{description} where room_id=#{room_id}
	</update>
  
  	
  
</mapper>