<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resort.mapper.RoomMapper">
    <select id="selectMinPrice" parameterType="int" resultType="int">
        select MIN(price_per_night) from room where resort_id = #{resort_id}
    </select>

    <select id="getList" parameterType="int" resultType="resort.dto.RoomDTO">
        select * from room where resort_id = #{resort_id}
    </select>

    <select id = "getWishRoomByRoomId" parameterType="int" resultType="resort.dto.RoomDTO">
        select room_id, resort_id, room_name, rmain_img, price_per_night
        from room
        where room_id = #{room_id}
    </select>

</mapper>
