<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rental.mapper.RentalShopAdminMapper">

  <!-- 렌탈샵 등록 -->
  <insert id="rsInsert" parameterType="rental.dto.RentalShopDTO">
	 insert into RENTALSHOP(rentalshop_id,uuid,name,rental_phone,location,
	 remain_img,resub_img1,resub_img2,resub_img3,description,created_at)
	 values(RENTALSHOP_SEQ.NEXTVAL,#{uuid},#{name},#{rental_phone},#{location},
	 #{remain_img},
	 #{resub_img1, jdbcType=VARCHAR},
	 #{resub_img2, jdbcType=VARCHAR},
	 #{resub_img3, jdbcType=VARCHAR},
	 #{description},sysdate)
  </insert>
    
  <!-- 렌탈샵 전체조회(여러건) -->  
  <select id="rsList" resultType="rental.dto.RentalShopDTO">
    select rentalshop_id,uuid,name,rental_phone,location,remain_img
    from RENTALSHOP order by rentalshop_id desc
  </select>
  
  <!-- 렌탈샵 고유아이디로 조회(한건) -->
  <select id="getRentalId" parameterType="int" resultType="rental.dto.RentalShopDTO">
  	select rentalshop_id,uuid,name,rental_phone,location,remain_img,
  	resub_img1,resub_img2,resub_img3,description,created_at
  	from RENTALSHOP where rentalshop_id=#{rentalId}
  </select>
  
  <!-- 렌탈샵 수정 -->
  <update id="rsUpdate" parameterType="rental.dto.RentalShopDTO">
  	update RENTALSHOP 
  	set name=#{name},rental_phone=#{rental_phone},location=#{location}, 
  	remain_img=#{remain_img, jdbcType=VARCHAR},
	resub_img1=#{resub_img1, jdbcType=VARCHAR},
	resub_img2=#{resub_img2, jdbcType=VARCHAR},
	resub_img3=#{resub_img3, jdbcType=VARCHAR},
	description=#{description} where rentalshop_id=#{rentalshop_id}
  </update>
  
  <!-- 렌탈샵 삭제 -->
  <delete id="rsDelete" parameterType="int">
  	delete from RENTALSHOP where rentalshop_id=#{rentalshop_id}
  </delete>

</mapper>