<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rental.mapper.RentItemAdminMapper">

  <!-- 장비유형 삽입 -->
  <insert id="riInsert" parameterType="rental.dto.RentItemDTO">
    insert into RENT_ITEM(item_id,category_id,rentalshop_id,item_name,item_detail,
    total_quantity,item_img,created_at)
    values(RENT_ITEM_SEQ.NEXTVAL,#{category_id},#{rentalshop_id},#{item_name},#{item_detail},
    #{total_quantity},#{item_img},sysdate)
  </insert>

  <!-- 하나의 렌탈샵의 장비유형 전체리스트 -->
  <select id="getItemList" parameterType="int" resultType="rental.dto.RentItemDTO">
    select item_id,category_id,rentalshop_id,item_name,
    item_detail,total_quantity,item_img,created_at
    from RENT_ITEM
  </select>
  
  <!-- 하나의 렌탈샵의 장비유형 전부 삭제 -->
  <delete id="riListDelete" parameterType="int">
  	delete from RENT_ITEM where rentalshop_id=#{rentalshop_id}
  </delete>
  
  <!-- 장비고유아이디로 장비유형 삭제(1건) -->
  <delete id="riDelete" parameterType="int">
    delete from RENT_ITEM where item_id=#{itemId}
  </delete>
  
  <!--장비고유아이디로 장비유형 데이터 조회(1건) -->
  <select id="getItemId" parameterType="int" resultType="rental.dto.RentItemDTO">
  	select item_id,category_id,rentalshop_id,item_name,
    item_detail,total_quantity,item_img,created_at
    from RENT_ITEM where item_id=#{item_id}
  </select>
  
  <!-- 장비유형 수정 -->
  <update id="riUpdate" parameterType="rental.dto.RentItemDTO">
    update RENT_ITEM set category_id=#{category_id},
    item_name=#{item_name},item_detail=#{item_detail},
    total_quantity=#{total_quantity},
    item_img=#{item_img, jdbcType=VARCHAR }
    where item_id=#{item_id}
  </update>
  
  <!-- 카테고리 고유아이디로 전체 데이터 조회(여러건)-->
  <select id="riCategoryId" parameterType="int" resultType="rental.dto.RentItemDTO">
    select item_id,rentalshop_id,item_name,
    item_detail,total_quantity,item_img,created_at
    from RENT_ITEM where category_id=#{category_id}
  </select>
  
</mapper>