<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ski.mapper.SkiItemMapper">
    <select id="selectSkiItem" parameterType="map"  resultType="ski.dto.SkiItemDTO">
        select * from ski_item where category_id = #{category_id} and ski_id = #{ski}
    </select>

    <select id="getList"  parameterType="map" resultType="ski.dto.SkiItemDTO" >
        select * from ski_item where category_id = #{category_id} and ski_id = #{ski}
    </select>

    <select id = "getSkiItemByItemId" parameterType="int" resultType="ski.dto.SkiCategoryDTO" >
        select s.item_id, s.category_id, s.ski_id, s.item_name, s.item_img, i.item_type, i.price_per_hour
        from ski_item s left join item_category i
        on s.category_id = i.category_id
        where item_id = #{item_id}
    </select>

</mapper>
