<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ski.mapper.SkiMapper">
    <select id="getInfo" resultType="ski.dto.SkiDTO" parameterType="int">
        SELECT * FROM ski WHERE ski_id = #{id}
    </select>

    <select id="getList" resultType="arraylist">
        select * from ski
    </select>
    
    <sql id="nameFilter">
    	where name like '%' || #{name} || '%'
    </sql>
    
    <select id="getUnionListByName" resultType="ski.dto.SkiUnionDto" parameterType="hashmap">
    	select 'SKI' category, ski_id ref_id, name, DESCRIPTION, location
		from ski
		<include refid="nameFilter"/>
		union
		select 'RESORT' category, resort_id ref_id, name, DESCRIPTION, location
		from resort
		<include refid="nameFilter"/>
		union
		select 'RENTAL' category, rentalshop_id ref_id, name, DESCRIPTION, location
		from rentalshop
		<include refid="nameFilter"/>
    </select>
</mapper>
