<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ski.mapper.SkiReservMapper">
	
	<!-- 스키장 예약 등록 -->
	<insert id="skiReservInsert" parameterType="ski.dto.SkiReservDTO">
		insert into SKI_RESERVATION(ski_reserv_id,ski_id,uuid,reserv_start,reserv_end,total_price,status,created_at) 
		values(SKI_REVERVATION_SEQ.NEXTVAL,#{ski_id},#{uuid},#{reserv_start},#{reserv_end},#{total_price},#{status},#{create_at})
	</insert>
</mapper>
