<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review.mapper.ReviewsMapper">
	<sql id="filter">
		<where>
			uuid = #{uuid}
			<if test="rating != null and rating != ''">
				and rating = to_number(#{rating})
			</if>
			
			<if test="category != null and category != ''">
				and category = #{category}
			</if>
			
			<if test="year != null and year != ''">
				and to_char(created_at, 'yyyy') = #{year}
			</if>
		</where>
	</sql>

	<select id="getCount" resultType="int" parameterType="hashmap">
		select count(*)
		from reviews_view
		<include refid="filter"/>
	</select>
	
	<resultMap type="review.dto.ReviewsDto" id="ReviewReMapper">
		<id column="review_id" property="review_id"/>
		<result column="category" property="category"/>
		<result column="payment_id" property="payment_id"/>
		<result column="uuid" property="uuid"/>
		<result column="ref_id" property="ref_id"/>
		<result column="ref_name" property="ref_name"/>
		<result column="rating" property="rating"/>
		<result column="review_comment" property="review_comment"/>
		<result column="review_img" property="review_img"/>
		<result column="created_at" property="created_at"/>
		
		<association property="reviewReDto" javaType="review.dto.ReviewReDto">
			<id column="review_re_id" property="review_re_id"/>
			<result column="r_uuid" property="uuid"/>
			<result column="user_id" property="user_id"/>
			<result column="content" property="content"/>
			<result column="r_created_at" property="created_at"/>
		</association>
	</resultMap>

	<select id="list" resultMap="ReviewReMapper" parameterType="hashmap">
		select *
		from (
			select rownum rn, r.*
			from (
				select category, review_id, payment_id, uuid, ref_id, ref_name, rating, review_comment, review_img, created_at,
				review_re_id, r_uuid, user_id, content, r_created_at
				from reviews_view
				<include refid="filter"/>
				order by created_at desc
			) r
		)
		where rn between #{startRow} and #{endRow}
	</select>
</mapper>