<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminPageMapper.AdminApprovalRequestMapper">

    <select id="getSkiIdByUUID" resultType="int">
        SELECT SKI_ID FROM SKI WHERE UUID = #{adminUUID}
    </select>
    
    <!-- 승인보류중인유저(중간관리자) -->
    <select id="getPendingUsers" resultType="adminDto.UsersDTO">
        SELECT uuid, user_id as userId, name, email, phone, role, status, regdate FROM Users where status='P' AND role != 'ADMIN' AND role != 'USER'
    </select>
    <!-- 검색필터 -->
    <select id="getSearchPendingUsers" resultType="adminDto.UsersDTO" parameterType="map">
        SELECT uuid, user_id as userId, name, email, phone, role, status, regdate FROM Users where status='P' AND role != 'ADMIN' AND role != 'USER'
        <if test="name != null and name != ''">
		    AND name LIKE '%' || #{name} || '%'
		</if>
		<if test="user_id != null and user_id != ''">
			AND user_id LIKE '%' || #{user_id} || '%'		
		</if>
		<if test="email != null and email != ''">
		    AND email LIKE '%' || #{email} || '%'
		</if>
    </select>
    
    <select id="getDeniedUsers" resultType="adminDto.UsersDTO">
        SELECT uuid, user_id as userId, name, email, phone, role, status, regdate FROM Users where status='N' AND role != 'ADMIN' AND role != 'USER'
    </select>
    <!-- 검색필터 -->
    <select id="getSearchDeniedUsers" resultType="adminDto.UsersDTO" parameterType="map">
        SELECT uuid, user_id as userId, name, email, phone, role, status, regdate FROM Users where status='N' AND role != 'ADMIN' AND role != 'USER'
        <if test="name != null and name != ''">
		    AND name LIKE '%' || #{name} || '%'
		</if>
		<if test="user_id != null and user_id != ''">
			AND user_id LIKE '%' || #{user_id} || '%'		
		</if>
		<if test="email != null and email != ''">
		    AND email LIKE '%' || #{email} || '%'
		</if>
    </select>
   
    <!-- 승인버튼클릭시 중간관리자 상태 보류->승인 -->
    <update id="approvalPendingUsers" parameterType="int">
    	UPDATE USERS SET status='Y' WHERE UUID=#{UUID}
    </update>
    <!-- 승인버튼클릭시 중간관리자 상태 보류->거부 -->
    <update id="denyPendingUsers" parameterType="int">
    	UPDATE USERS SET status='N' WHERE UUID=#{UUID}
    </update>
    
    <delete id="deleteUsers" parameterType="int">
    	DELETE FROM Users WHERE UUID=#{UUID}
    </delete>
    
    <select id="getPendingTotalCount" resultType="int">
        SELECT COUNT(*) FROM users WHERE status = 'P'
    </select>
    <select id="getDeniedTotalCount" resultType="int">
        SELECT COUNT(*) FROM users WHERE status = 'N'
    </select>
	<select id="getPendingPagedList" parameterType="map" resultType="adminDto.UsersDTO">
	    SELECT * FROM (
	        SELECT a.*, ROWNUM rnum FROM (
	            SELECT uuid, user_id AS userId, name, email, phone, role, status, regdate
	            FROM Users
	            WHERE status = 'P' AND role != 'ADMIN' AND role != 'USER'
	           
	            <if test="name != null and name != ''">
				    AND name LIKE '%' || #{name} || '%'
				</if>
				<if test="user_id != null and user_id != ''">
					AND user_id LIKE '%' || #{user_id} || '%'		
				</if>
				<if test="email != null and email != ''">
				    AND email LIKE '%' || #{email} || '%'
				</if>
				 ORDER BY regdate DESC
	        ) a
	        WHERE ROWNUM &lt;= #{endRow, jdbcType=INTEGER}
	    )
	    WHERE rnum &gt; #{startRow, jdbcType=INTEGER}
	</select>
    
    <select id="getDeniedPagedList" parameterType="map" resultType="adminDto.UsersDTO">
    SELECT * FROM (
        SELECT a.*, ROWNUM rnum FROM (
            SELECT uuid, user_id AS userId, name, email, phone, role, status, regdate
            FROM Users
            WHERE status = 'N' AND role != 'ADMIN' AND role != 'USER'
              <if test="name != null and name != ''">
                  AND name LIKE '%' || #{name} || '%'
              </if>
              <if test="user_id != null and user_id != ''">
                  AND user_id LIKE '%' || #{user_id} || '%'
              </if>
              <if test="email != null and email != ''">
                  AND email LIKE '%' || #{email} || '%'
              </if>
            ORDER BY regdate DESC
        ) a
        WHERE ROWNUM &lt;= #{endRow, jdbcType=INTEGER}
    )
    WHERE rnum &gt; #{startRow, jdbcType=INTEGER}
</select>
    
    
    
</mapper>