.cart_container {
	width: 700px;
	margin: 50px auto;
}

.cart_title h2 {
	font-size: 20px;
	font-weight: 700;
}

.cart_item {
	display: flex;
	margin-top: 50px;
	position: relative;
}

.cart_item .cart_checkbox {
	width: 20px;
	margin: 0 10px 0 0;
}

.cart_item::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
	top: -25px;
}

.cart_item .item_img {
	border-radius: 10px;
	width: 40%;
}

.cart_item .img1 {
	background: url(/img/resort_img1.jpg) no-repeat center / cover;
}

.cart_item .img2 {
	background: url(/img/resort_img2.jpg) no-repeat center / cover;
}

.cart_item .item_info {
	padding-left: 10px;
	width: 60%;
	position: relative;
}

.cart_item .item_badge {
	color: #ccc;
	font-size: 12px;
}

.cart_item .item_title_box {
	display: flex;
	gap: 7px;
	margin: 5px 0;
}

.cart_item .item_title_box h3,
.cart_item .item_title_box .item_detail {
	font-weight: 700;
}

.counter {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

.counter button {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	background: white;
	font-size: 16px;
	cursor: pointer;
}

.counter .count {
	font-size: 16px;
	font-weight: bold;
	width: 40px;
	text-align: center;
}

.cart_item .item_price {
	text-align: right;
	margin-top: 100px;
}

.cart_item .price {
	font-size: 18px;
	font-weight: 700;
}

.cart_info .pay_btn {
	margin-top: 50px;
}
