.pay_container {
	width: 614px;
	margin: 50px auto;
}

.pay_title {
	font-size: 24px;
	font-weight: 700;
}

/* 결제 정보 */
.pay_info {
	margin-top: 50px;
}

.pay_info h3,
.pay_method h3,
.pay_info h3 {
	font-size: 20px;
	font-weight: 700;
}

.pay_info h4 {
	margin-top: 30px;
	font-size: 14px;
	color: #707079;
}

.pay_info .input_text {
	border: 1px solid #dadada;
	width: 300px;
	padding: 15px 10px;
	margin-top: 10px;
	border-radius: 5px;
}

.pay_info .input_text:focus {
	border-color: #5399f5;
	box-shadow: 0 0 8px rgba(83, 153, 245, 0.6);
	transition: box-shadow 0.2s ease-in-out;
}

/* 결제 수단 */
.pay_method,
.pay_info,
.total_price {
	margin-top: 60px;
	position: relative;
}

.pay_method::before,
.pay_info::before,
.total_price::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #ebebeb;
	top: -30px;
}

.pay_method .method_select {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 300px 300px;
	grid-gap: 10px;
}

.method_select .select_item {
	padding: 15px 10px;
	text-align: center;
	border: 1px solid #dadada;
	border-radius: 10px;
}

.method_select .select_item:hover {
	background-color: #e3f0ff;
}

.selected {
	background-color: #e3f0ff;
}

.method_select .kakao_pay {
	background: url(/img/kakao_pay.svg) no-repeat center / cover;
	background-size: 50px;
}

.method_select .naver_pay {
	background: url(/img/naver_pay.png) no-repeat center / cover;
	background-size: 50px;
}

/* 결제 정보 */
.pay_info .pay_price,
.pay_info .pay_discount {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

.pay_info .label {
	color: #707079;
}

.pay_info .pay_price .value {
	font-weight: 900;
}

.pay_info .pay_discount .value {
	font-weight: 700;
}

.total_price {
	display: flex;
	justify-content: space-between;
}

.total_price .value {
	font-weight: 700;
}

.total_price .value {
	font-size: 20px;
	color: red;
	font-weight: 900;
}

/* 약관동의 */
.terms_agreement {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.terms_agreement label {
	vertical-align: text-top;
}

.pay_btn {
	margin-top: 20px;
	border: 15px;
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	color: #fff;
	font-weight: 900;
	background-color: #5399f5;
	cursor: pointer;
	transition: 0.5s;
}

.pay_btn:hover {
	background-color: #2c7fec;
}
