<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.AdminCustomersMapper">
    
    <!-- 모든유저정보 -->
    <select id="getUsersList" resultType="adminDto.UsersDTO">
        SELECT uuid, name, user_id, email, phone, social, role, regdate FROM Users where role != 'ADMIN' 
   	</select>
   	<!-- 검색한 유저정보 -->
   	<select id="getSearchUsersList" resultType="adminDto.UsersDTO" parameterType="map">
        SELECT uuid, name, user_id, email, phone, social, role, regdate FROM Users where role != 'ADMIN'
        <if test="name != null and name != ''">
		    AND name LIKE '%' || #{name} || '%'
		</if>
		<if test="user_id != null and user_id != ''">
			AND user_id LIKE '%' || #{user_id} || '%'		
		</if>
		<if test="email != null and email != ''">
		    AND email LIKE '%' || #{email} || '%'
		</if>
   	</select>
    <!-- 회원 탈퇴 -->
    <delete id="deleteUsers" parameterType="int">
    	delete from users where uuid=#{uuid}
    </delete>
    
    
    
    
</mapper>