<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.ResortReviewsMapper">
  
  <!-- 리조트 리뷰 insert -->
  <insert id="insert" parameterType="reviews.dto.ResortReviewsDTO">
    insert into resort_reviews values(resort_review_seq.nextval,#{payment_id},#{uuid},#{resort_id},#{rating},#{resort_comment},#{review_img},sysdate)
  </insert>
  
  <!-- 리조트 리뷰 글 전체 갯수 -->
  <!-- 리조트 별 리뷰 글 전체 갯수 -->
  <!-- select nvl(count(review_id),0) cnt from resort_reviews where resort_id = #{resortId} -->
  <select id="getCount" resultType="int">
  	select nvl(count(review_id),0) cnt from resort_reviews
  </select>
  
    
  <!-- 리뷰 기본 리스트 -->
  <!-- 리조트 별 리뷰 기본 리스트 -->
  <!-- 
  	select review_id, uuid, created_at, rating, resort_comment, review_img
  	from resort_reviews
  	where resort_id = #{resort_id}
  	order by
  	<choose>
  		<when test="sortType == 'ratingDesc'">rating DESC</when>
  		<when test="sortType == 'ratingAsc'">rating ASC</when>
  		<otherwise>review_id DESC</otherwise>
  	</choose>
   -->
  <select id="reviewList" parameterType="string" resultType="reviews.dto.ResortReviewsDTO">
  	select review_id, uuid, created_at, rating, resort_comment, review_img 
  	from resort_reviews
  	order by 
  	<choose>
  		<when test="sortType == 'ratingDesc'">rating DESC</when>
  		<when test="sortType == 'ratingAsc'">rating ASC</when>
  		<otherwise>review_id DESC</otherwise>
  	</choose>
  </select>   
  
  <!-- 리조트 리뷰 리스트(정렬 및 페이징) -->
  <!-- 리조트 별 리뷰 리스트 (정렬 및 페이징) -->
  <!-- 
  	select * from (
		select row_number() over(
			order by
			<choose>
				<when test="sortType == 'ratingDesc'">rating DESC</when>
				<when test="sortType == 'ratingAsc'">rating ASC</when>
				<otherwise>review_id DESC</otherwise>
			</choose>
			) as rn, 
			review_id, uuid created_at, rating, resort_comment, review_img
		from resort_reviews where resort_id = #{resort_id}
	)sub
	where rn between #{startRow} and {endRow};
  	
   -->
  <select id="reviewArray" parameterType="map" resultType="reviews.dto.ResortReviewsDTO">
	    SELECT review_id, uuid, created_at, rating, resort_comment, review_img FROM (
        	SELECT ROW_NUMBER() OVER (
                ORDER BY 
                <choose>
                    <when test="sortType == 'ratingDesc'">rating DESC</when>
                    <when test="sortType == 'ratingAsc'">rating ASC</when>
                    <otherwise>review_id DESC</otherwise>
                </choose>
            ) AS rn,
            review_id, uuid, created_at, rating, resort_comment, review_img
        FROM resort_reviews
    ) sub
    WHERE rn BETWEEN #{startRow} AND #{endRow}
  </select>
 
   
  <!-- 리조트 리뷰 수정시 조회 -->
  <select id="updateSelect" parameterType="int" resultType="reviews.dto.ResortReviewsDTO">
  	select review_id, uuid, created_at, rating, resort_comment, review_img 
  	from resort_reviews 
  	where review_id=#{review_id}
  </select>
  
  <!-- 리조트 리뷰 수정 -->
  <update id="update" parameterType="reviews.dto.ResortReviewsDTO">
  	update resort_reviews set rating=#{rating}, resort_comment=#{resort_comment}, review_img=#{review_img} where review_id = #{review_id}
  </update>
  
  <!-- 리조트 리뷰 삭제 -->
  <delete id="delete" parameterType="int">
  	delete from resort_reviews where review_id=#{review_id}
  </delete>
</mapper>