<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="skiAdminPageMapper.SkiReservationMapper">
    
    <!-- UUID를 기반으로 SKI_ID 조회 -->
    <select id="getSkiIdByUUID" resultType="int">
        SELECT SKI_ID FROM SKI WHERE UUID = #{adminUUID}
    </select>

    <!-- SKI_ID를 기반으로 예약 정보 조회 -->
    <select id="getSkiReservationUsers" parameterType="map" resultType="adminDto.SkiReservationDTO">
    	SELECT SR.SKI_RESERV_ID, 
               U.NAME as userName, 
               U.USER_ID, 
               U.EMAIL as userEmail, 
               U.PHONE, 
               SR.STATUS, 
               SR.RESERV_DATE, 
               SR.CREATED_AT
        FROM SKI_RESERVATION SR 
        JOIN USERS U ON SR.UUID = U.UUID
        WHERE SR.SKI_ID = #{skiID}
    </select>
    <!-- 검색 필터 적용 예약 정보 조회 -->    
    <select id="getSearchSkiReservationUsers" parameterType="map" resultType="adminDto.SkiReservationDTO">
        SELECT SR.SKI_RESERV_ID, 
               U.NAME as userName, 
               U.USER_ID, 
               U.EMAIL as userEmail, 
               U.PHONE, 
               SR.STATUS, 
               SR.RESERV_DATE, 
               SR.CREATED_AT
        FROM SKI_RESERVATION SR 
        JOIN USERS U ON SR.UUID = U.UUID
        WHERE SR.SKI_ID = #{skiID}
        <if test="name != null">
            AND U.NAME LIKE '%'||#{name}||'%'
        </if>
        <if test="user_id != null">
            AND U.USER_ID LIKE '%'||#{user_id}||'%'
        </if>
        <if test="email != null">
            AND U.EMAIL LIKE '%'||#{email}||'%'
        </if>
    </select>
    <!-- 스키장 예약 고유번호를 받아 예약상태 업데이트 -->
    <update id="reservationCancel">
    	UPDATE SKI_RESERVATION SET STATUS='CANCELLED' WHERE SKI_RESERV_ID=#{ski_reserv_id}
    </update>
    <update id="reservationComplete">
    	UPDATE SKI_RESERVATION SET STATUS='COMPLETED' WHERE SKI_RESERV_ID=#{ski_reserv_id}
    </update>

</mapper>
    